@use "../../styles/queries";

.ProjectsGrid {
  display: grid;
  gap: var(--gap-small);
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  
  & > :last-child:nth-child(3n + 1) {
    grid-column: span 3;
  }
  & > :last-child:nth-child(3n + 2) {
    grid-column: span 2;
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    & > :last-child:nth-child(2n + 1) {
      grid-column: span 2;
    }
  }

  @media (max-width: queries.$mw-mobile) {
    grid-template-columns: 1fr;
  }
}


.ProjectsGrid.Mosaic {
  grid-auto-flow: dense;

  
  & > :nth-child(6n + 1) {
    grid-column: span 2;
  }
  & > :nth-child(6n + 5) {
    grid-column: span 2;
  }

  @media (max-width: 1100px) {
    & > :nth-child(6n + 1),
    & > :nth-child(6n + 5) {
      grid-column: auto;
    }
  }

  @media (max-width: queries.$mw-mobile) {
    grid-template-columns: 1fr;
  }
}

.SkillItem {
  flex: 1;

  & > .SkillContainer {
    --interaction-glow: var(--surface-highest);

    background-color: var(--surface-low);
    color: var(--neutral-high);
    border-radius: var(--radius-medium);
    padding: var(--gap-small);
    outline: var(--line-style) var(--surface-medium);

    text-decoration: none;
    white-space: nowrap;
    justify-content: center;

    &:where(:hover, :focus-visible) {
      background-color: var(--surface-medium);
      outline-color: var(--surface-high);
    }

    & > .SkillIcon {
      width: var(--size-relative-medium);
      height: var(--size-relative-medium);
      object-fit: contain;
    }
  }
}

.JSXHeadingStart,
.JSXHeadingEnd {
  font-size: 2.25rem;
  font-weight: var(--weight-bold);
  font-family: "JetBrains Mono", monospace;
  margin-block: 0;

  & > span:is(:first-child, :last-child) {
    user-select: none;
  }
}

.JSXHeadingStart {
  color: var(--neutral-highest);
}

.JSXHeadingEnd {
  user-select: none;
  color: var(--surface-medium);
}
